---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'

const allPosts = await Astro.glob('../content/tips/*.md')
---

<Layout title="Index Page">
	<main class="m-auto p-6 max-w-[60ch]">
		<Header title="Index Page" />
		<Hero />
		<ul role="list" class="grid link-card-grid">
			{
				allPosts.map((post) => (
					<Card
						title={post?.frontmatter?.title}
						time={post?.frontmatter?.pubDate}
						tags={post?.frontmatter?.tags}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
